*{
    background-color: rgb(24, 161, 224);
}
.img{
    width: 9em;
    height: 8em;
    border-radius: 1em;
}
.button{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;
}
.butto{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;
}
.ad{
    float: left;
}
.butt{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
}
.but{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
}
.bu{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;   
}
.b{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
}
.bb{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
}
.bg{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em; 
}
.bl{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;  
}
.bh{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;  
}
.bf{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;   
}
.bd{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;   
}
.bn{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;   
}
.bk{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;  
}
.bm{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;    
}
.bx{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;     
}
.bq{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;    
}
.ba{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em; 
}
.df{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;    
}
.gy{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;   
}
.bn{
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
    padding: 12px;
    margin-left: 2em;  
    margin-top: 2em;   
}